<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .image-thumbail {
            max-height: 350px;
            object-fit: cover;
        }
    </style>
</head>



<body class="m-5">
    <div class="container">
        <div class="row">
            <a href=""></a>
            <div class="col-md-9"> 
                <div class="row mt-5 justify-content-center">
                    {% for book in books %}
                    <div class=" card card-custom mx-2 mb-3">
                        <a href="{% url 'book' book.slug %}">
                        {% if book.cover %}
                            <img class="image-thumbail" src="{{book.cover.url}}" alt="Book Cover"></a>
                        {% endif %}

                        <div class="card-body mx-auto">
                            <small>{{book.name}}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
